@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

*{
    padding: 0;
    margin: 0;
}

.header{
    background-color: #F3F5FC;
}
.logo-a{
    background-color: #F3F5FC;
    padding: 20px 0 0 40px; /*arriba, derecha, abajo izquierda*/
    width: 6%;

}

.principal{
    background-color: #F3F5FC;
}

.principal-contenido{
    display: flex;
}

.mensaje-cuadrodetexto{
    color: #0A3871;
    font-size: 24px;
    font-family: "Inter";
    width: 577px;
    height: 48px;
    margin-top: 50px;
    margin-left: 164px;
    line-height: 150%;
    letter-spacing: 0;
    border: none; /*quita el borde del cuadro*/
    resize: none; /*quita la flechita que aparece en el cuadro de texto abajo a la izquierda*/
    background-color: #F3F5FC;
    outline: none;/*quita el recuadro que se marca cuando le das click para escribir*/
}

    

.texto-pequeño{
    font-family: 'Inter';
    font-size: 12px;
    opacity: 80%;
    color: #495057;
    line-height: 150%;
    width: 229px;
    height: 18px;
    letter-spacing: 0;
    padding: 300px 0 16px 164px;
}

.botones{
    display: flex;
}

.boton-encriptar{
    font-family: 'Inter';
    color: #FFFFFF;
    background-color: #0A3871;
    font-size: 16px;
    height: 60px;
    width: 250px;
    padding: 20px;
    border-radius: 24px;
    margin: 0 24px 0 164px;
    gap: 8px;
    border: none;
}

.boton-desencriptar{
    font-family: 'Inter';
    color: #0A3871;
    background-color: #D8DFE8;
    font-size: 16px;
    height: 60px;
    width: 250px;
    padding: 20px;
    border-radius: 24px;
    border: #0A3871 solid 1px;

}

.rectangulo{
    background-color: #FFFFFF;
    width: 350px;
    height: 500px;
    border-radius: 32px;
    box-shadow: 0px 24px 32px -8px rgba(0, 0, 0, 0.08);
    margin: 0 0 0 50px;
    
}

.ocultar-elementos{
    padding: 48px 0 32px 24px;
}

.texto-respuesta{
    width: 300px;
    height: 350px;
    font-family: 'Inter';
    font-size: 24px;
    line-height: 150%;
    letter-spacing: 0;
    color: #495057;
    margin: 20px 0 0 25px;
    padding: 0 0 32px 0;
    outline: none;
    border: none;
    resize: none;
}

.muñeco-inicio{
    width: 300px;
    height: 264px;

}

.rectangulo-primer-texto{
    font-family: 'Inter';
    font-size: 20px;
    font-weight: 600;
    text-align: center;
    color: #343A40;
    width: 300px;
    height: 45px;
    line-height: 120%;/*es como una sangria*/
    letter-spacing: 0;
    padding: 16px 0 16px 0;
}

.rectangulo-segundo-texto{
    color: #495057;
    width: 300px;
    height: 48px;
    font-family: 'Inter';
    font-size: 16px;
    line-height: 150%;
    letter-spacing: 0;
    text-align: center;
}

.boton-copiar{
    width: 250px;
    height: 60px;
    color: #0A3871;
    border-radius: 24px;
    border: #0A3871 solid 1px;
    background-color: unset;/*esto es que no tenga color o que sea blanco*/
    font-family: 'Inter';
    font-size: 16px;
    margin: 20px 0 0 50px;

}
.creditos{
    color: #0A3871;
    background-color: #F3F5FC;
    text-align: center;
    font-family: 'Inter';
    font-size: 18px;
    padding: 15px;
}